/* .jumbotron {
    background-image: url("https://img.washingtonpost.com/wp-apps/imrs.php?src=https://img.washingtonpost.com/blogs/wonkblog/files/2015/03/gerry.png&w=1484")
} */

li {
    list-style: none;
}

/* .exp {
    display: none;
}

.exp:hover {
    display: block;
} */